maitWorkshop/.ipynb_checkpoints/WorkshopMait-checkpoint.ipynb
maitWorkshop/.ipynb_checkpoints/Untitled-checkpoint.ipynb
MachineLearning/.ipynb_checkpoints/Normal Distribution-checkpoint.ipynb
MachineLearning/.ipynb_checkpoints/pandasBasics-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/knnUnderstanding-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/KnnMNIST-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/KNN-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/KNN using scikit learn-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/DiabetesChallenge-checkpoint.ipynb
MachineLearning/faceDetection/.ipynb_checkpoints/dataGenerator-checkpoint.ipynb
MachineLearning/faceDetection/.ipynb_checkpoints/faceReccognition-checkpoint.ipynb
MachineLearning/faceDetection/.ipynb_checkpoints/opencv-checkpoint.ipynb
