maitWorkshop/.ipynb_checkpoints/WorkshopMait-checkpoint.ipynb
maitWorkshop/.ipynb_checkpoints/Untitled-checkpoint.ipynb
MachineLearning/.ipynb_checkpoints/Normal Distribution-checkpoint.ipynb
MachineLearning/.ipynb_checkpoints/pandasBasics-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/knnUnderstanding-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/KnnMNIST-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/KNN-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/KNN using scikit learn-checkpoint.ipynb
MachineLearning/KNN/.ipynb_checkpoints/DiabetesChallenge-checkpoint.ipynb
MachineLearning/faceDetection/.ipynb_checkpoints/dataGenerator-checkpoint.ipynb
MachineLearning/faceDetection/.ipynb_checkpoints/faceReccognition-checkpoint.ipynb
MachineLearning/faceDetection/.ipynb_checkpoints/opencv-checkpoint.ipynb
MachineLearning/linear regression/.ipynb_checkpoints/gradientDessent-checkpoint.ipynb
MachineLearning/linear regression/.ipynb_checkpoints/hardwork pays off-checkpoint.ipynb
MachineLearning/linear regression/.ipynb_checkpoints/surfacePlots-checkpoint.ipynb
MachineLearning/linear regression/.ipynb_checkpoints/linearRegressionMULTIPLEfeatures-checkpoint.ipynb
MachineLearning/linear regression/.ipynb_checkpoints/LinearRegressionSKLEARN-checkpoint.ipynb
MachineLearning/.ipynb_checkpoints/closedFormSolution-checkpoint.ipynb
MachineLearning/linear regression/Challenges/.ipynb_checkpoints/Air Pollution challenge-checkpoint.ipynb
MachineLearning/LogisticRegression/.ipynb_checkpoints/LogisticRegression-checkpoint.ipynb
MachineLearning/LogisticRegression/challenge/.ipynb_checkpoints/Chemical segregation-checkpoint.ipynb
MachineLearning/NLTK/.ipynb_checkpoints/Untitled-checkpoint.ipynb
MachineLearning/Naive Bayes Classifier/.ipynb_checkpoints/MultinomialvsGAussianNB-checkpoint.ipynb
MachineLearning/DecisionTree/challenge/.ipynb_checkpoints/titanic prediction with visualisation-checkpoint.ipynb
MachineLearning/DecisionTree/.ipynb_checkpoints/DecisionTree-checkpoint.ipynb
MachineLearning/DecisionTree/.ipynb_checkpoints/RandomForest-checkpoint.ipynb
MachineLearning/projects/Extracting Dominant Colours/.ipynb_checkpoints/ExtractingDominantCOLORS-checkpoint.ipynb
*.ipynb
